
@{
    ViewData["Title"] = "Контактная информация кадрового агентства Амалко в Москве";
    ViewData["Description"] = "Контакты кадрового агнетства Амалко - телефоны, эл. почты, график работы и местоположение на карте";
}
<div class="row width100">
    <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 offset-1 mt-5 mt-md-2">
        <small class="mt-3">Главная / Контакты</small>
    </div>
</div>

<div class="row mt-5 width100">
    <div class="offset-lg-2 col-lg-3 offset-md-1 col-md-4 offset-1">
        @await Component.InvokeAsync("_Menu")
    </div>
    <div class="col-lg-5 offset-lg-0 col-md-6  offset-1 col-11 forbottom">
        <h3 class="text-center menuhead forsmpl">Контактные данные компании Амалко</h3>
        <div class="row mt-5 forsmpl">
            <div class="col-lg-9 offset-lg-3 col-md-12 col-12">
                <p class="">
                    <img src="~/images/Icons/003-three-quarters-of-an-hour.png" class="mr-2 smallicons d-inline-block" />
                    Круглосуточно, без выходных
                </p>
                <div class=" pt-3 pt3 cp">
                    <img src="~/images/Icons/002-phone-receiver.png" class="mr-2 smallicons" />
                    <span><a class="phonenumber" href="tel:+74955457568" onclick="gtag('event', 'PhoneNumber', { 'event_category': 'form', 'event_action': 'click' }">+74955457568</a></span> (для работодателей)<br />
                    <span class="ml-4"> 8 (925) 869 - 01 - 09 (для соискателей)</span><br />
                  @*  <span class="ml-4"> 8 (499) 253 - 09 - 22 (для соискателей)</span>*@
                </div>
           
                <p class="pt3">
                    <img src="~/images/Icons/001-email-filled-closed-envelope.png" class="mr-2 smallicons" />
                    info@amalco-agency.ru
                </p>
                <div class=" pt-3 pt3">
                    <img src="~/images/Icons/004-maps-and-flags.png" class="mr-2 smallicons" />
                    <span> Москва 123557, Электрический</span><br />
                    <span class="ml-4"> переулок 3/10, строение 3, 3 подъезд</span>
                </div>
            </div>
           
           
        </div>
        <div class=" row mt-5 forsmpl borderblue">
            <div class="col-lg-9 offset-lg-3 col-md-12 col-12">
                <h3>Реквизиты компании </h3>
                Исполнитель
                <br />ООО «Амалко-Персонал»
                <br />Юридический адрес: Москва 123557
                <br />Электрический пер., 3/10, строение 3, подъезд 3, оф. 20.
                <br />р/с 40702810502750001496
                <br /> в ОАО "АЛЬФА-БАНК" (ОАО) г. Москва
                <br />к/с 30101810200000000593
                <br /> БИК 044525593
                <br /> ИНН/КПП 7721806618/770301001
            </div>
        </div>
       
    </div>

    <h3 class="col-md-12 col-12 text-center mt-5 mb-5 forsmpl">Наши менеджеры</h3>
    <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 offset-1 col-11">
        <div class="row allm">
            <div class="managers mg-1">


                <div class="content">
                    <p class="text-white text-center mb-0 ml-1 mr-1 fontsize10">Аревшатян Амаля Айкарамовна </p>
                    <p class="text-white text-center mb-0 ml-1 mr-1 fontsize10">Учредитель <br /><br /> </p>
                </div>

            </div>
            @*<div class="managers mg-2">


            <div class="content">
                <p class="text-white text-center mb-0 ml-1 mr-1 fontsize10">Кетцян Амаля Мартиновна  </p>
                <p class="text-white text-center mb-0 ml-1 mr-1 fontsize10">Офис<br />менеджер </p>
            </div>

        </div>*@
            <div class="managers mg-3">


                <div class="content">
                    <p class="text-white text-center mb-0 ml-1 mr-1 fontsize10">Ковалева Ивана Милановна </p>
                    <p class="text-white text-center mb-0 ml-1 mr-1 fontsize10">Менеджер по подбору домашнего персонала </p>
                </div>

            </div>
            <div class="managers mg-4">

                <div class="content">
                    <p class="text-white text-center mb-0 ml-1 mr-1 fontsize10">Татаринцева Лаура Айрапетовна</p>
                    <p class="text-white text-center mb-0 ml-1 mr-1 fontsize10">Менеджер по подбору домашнего персонала </p>
                </div>

            </div>
            <div class="managers mg-5">

                <div class="content">
                    <p class="text-white text-center mb-0 ml-1 mr-1 fontsize10">Романова Марина Юрьевна </p>
                    <p class="text-white text-center mb-0 ml-1 mr-1 fontsize10">Менеджер по подбору домашнего персонала  </p>
                    <p class="text-white text-center mb-0 ml-1 mr-1 fontsize10">тел: 89295732329 </p>
                </div>

            </div>
            <div class="managers mg-6">

                <div class="content">
                    <p class="text-white text-center mb-0 ml-1 mr-1 fontsize10">Чедия Инна Владимировна </p>
                    <p class="text-white text-center mb-0 ml-1 mr-1 fontsize10">Менеджер по подбору домашнего персонала </p>
                    <p class="text-white text-center mb-0 ml-1 mr-1 fontsize10">тел: 89296461549</p>
                </div>

            </div>
            <div class="managers mg-9">

                <div class="content">
                    <p class="text-white text-center mb-0 ml-1 mr-1 fontsize10"> Елена Милованова</p>
                    <p class="text-white text-center mb-0 ml-1 mr-1 fontsize10">Менеджер по подбору домашнего персонала </p>
                    <p class="text-white text-center mb-0 ml-1 mr-1 fontsize10">тел: 89254854762 </p>
                </div>

            </div>
            <div class="managers mg-7">

                <div class="content">
                    <p class="text-white text-center mb-0 ml-1 mr-1 fontsize10">Генова Татьяна Михайловна  </p>
                    <p class="text-white text-center mb-0 ml-1 mr-1 fontsize10">Менеджер по подбору домашнего персонала </p>
                </div>

            </div>
            <div class="managers mg-8">

                <div class="content">
                    <p class="text-white text-center mb-0 ml-1 mr-1 fontsize10">Мхитарян Айкуи Самвеловна </p>
                    <p class="text-white text-center mb-0 ml-1 mr-1 fontsize10">Менеджер по подбору иностранного персонала  </p>
                </div>

            </div>

        </div>
        
        <div class="row mt-2">
            <p class="text-justify col-md-12 fontsize14 col-12">
                Менеджеры кадрового агентства Амалко с удовольствием ответят на все ваши вопросы. Вы можете оставить заявку на страницах сайта или заказать бесплатный звонок (на верху, справа). Наши менеджеры свяжутся с Вами в течении часа, ответят на все интересующие вопросы и помогут сделать правильный выбор индивидуально для Вас.
            </p>
        </div>
        <div class="row mt-5">
            <h3 class="text-center mb-3  col-md-12 col-12">Как к нам добраться</h3>
            <p class="text-justify col-md-12 col-12 fontsize14">
                Метро Белорусская (кольцевая), выход к Белорусскому вокзалу. Из метро направо, перейти на другую сторону улицы, это будет улица Грузинский Вал. Идти вниз по улице в течении 5-7 минут Электрического переулка". Зайти в арку, третье строение справа будет темн
            </p>
        </div>
        <div>
            <script src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=-P3qHx7DqmuKtTbjRi6A1feRzQmkperB&amp;width=100%&amp;height=450" type="text/javascript" charset="utf-8"></script>
        </div>
    </div>
</div>
