@model ReviewVM
@{
    ViewData["Title"] = "AddEdit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h1>@(Model.Id > 0 ? "Редактировать" : "Добавить") отзыв</h1>
    </div>
    <div class="card-body">
        <form method="post" asp-action="AddEdit" asp-controller="ReviewManage" enctype="multipart/form-data">

            <div class="form-group row m-3 border-bottom-0">
                <label asp-for="Name" class="col-3">Имя Клиента</label>
                <div class="col-7">
                    <input type="text" asp-for="Name" class="for-form pt-2 pb-2 pt-2 pb-2" />
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="form-group row m-3 border-bottom-0">
                <label asp-for="Profession" class="col-3">Профессия</label>
                <div class="col-7">
                    <input type="text" asp-for="Profession" class="for-form pt-2 pb-2" />
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="form-group row m-3 border-bottom-0">
                <label asp-for="Content" class="col-3">Текст отзыва</label>
                <div class="col-7">
                    <textarea asp-for="Content" class="for-form pt-2 pb-2 textarea-autosize" rows="5"></textarea>
                    <i class="form-group__bar"></i>

                </div>
            </div>
            <div class="form-group row m-3 border-bottom-0">
                <label  class="col-3">Фото</label>
                <div class="col-7">
                    <input type="file" name="MainImageFile" />
                </div>
            </div>
            @*<label>Фото</label>
            <input type="file" name="ImageFile" />*@
            <input type="submit" value="@(Model.Id>0?"Обновить": "Добавить")" class="mt-3 btn btn-success float-right" />
        </form>

    </div>
</div>
@*<form method="post" asp-action="AddEdit" asp-controller="ReviewManage" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Image" />

    <label asp-for="Name">Имя Клиента</label>
    <input type="text" asp-for="Name" />

    <label asp-for="Name">Профессия</label>
    <input type="text" asp-for="Profession" />

    <label asp-for="Content">Текст отзыва</label>
    <textarea asp-for="Content"></textarea>

    <label>Фото</label>
    <input type="file" name="ImageFile" />
    <input type="submit" value="@(Model.Id>0?"Обновить": "Добавить")" />
</form>*@
