<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="yandex-verification" content="238eb4ca7e4eb57a" />
    <title>Подбор домашнего персонала в Москве. Кадровое агентство Амалко</title>
    <meta name="description" content="Агентвство по подбору домашнего персонала в Москве Амалко поможет Вам подобрать нянь и домработниц из филиппин, репетиторов и воспитательниц, сиделок и гувернанток, поваров и водителей в Москве." />
    <link rel="icon" href="~/images/Main/favicon.ico" type="image/x-icon">
    <environment include="Development">
        <link rel="stylesheet" href="https://cdn.usebootstrap.com/bootstrap/4.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/material-design-iconic-font/dist/css/material-design-iconic-font.css" rel="stylesheet" />
        <link href="~/css/slick.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="~/css/slick.css" rel="stylesheet" />
        <link href="~/css/menu.css" rel="stylesheet" />
        <link href="~/css/ladda.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdn.usebootstrap.com/bootstrap/4.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link href="~/lib/material-design-iconic-font/dist/css/material-design-iconic-font.css" rel="stylesheet" />
        <link href="~/css/slick.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="~/css/slick.css" rel="stylesheet" />
        <link href="~/css/menu.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/ladda.min.css" rel="stylesheet" />
    </environment>
<script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src='https://vk.com/js/api/openapi.js?169',t.onload=function(){VK.Retargeting.Init("VK-RTRG-1292531-f6qqs"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><noscript><img src="https://vk.com/rtrg?p=VK-RTRG-1292531-f6qqs" style="position:fixed; left:-999px;" alt=""/></noscript>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TL4PFX4');</script>
<!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TL4PFX4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    @{
        Layout = null;
    }
    <div id="dialogDiv" class="modal modal-primary fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div id="dialogContent" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h3 class="modal-title text-center" id="myModalLabel"></h3>
                    <button type="button" class="close float-right pl-0 pr-0 ml-0 mr-0" id="close" data-dismiss="modal" aria-hidden="true">×</button>

                </div>
            </div>
        </div>
    </div>


    <div class="mainheader width100">
        <div id="left-flyout-nav" class="layout-left-flyout visible-sm"></div>

        <div class="mainheaderhover">
            <header class="the-header forsmallscreenshow">
                <div class="navbar container ">
                    <div class="row ml_10">
                        <div class="col-1">
                            <a class="btn-navbar btn-navbar-navtoggle" href="#">
                                <span class="icon-bar btn-flyout-trigger"></span>
                                <span class="icon-bar btn-flyout-trigger"></span>
                                <span class="icon-bar btn-flyout-trigger"></span>
                            </a>
                        </div>
                        <div class="col-4 mt-1">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="ml-4">
                                <img src="~/images/logo.png" class="w-100" />
                            </a>
                        </div>
                      @*  <div class="col-6 mt-1">
                            <a asp-controller="Order" asp-action="Call" class="w-100 btn btn-red text-white modalform ml-3 pl-0 pr-0" onclick="ga('send', 'event', 'form', 'click','feedback');">Заказать звонок</a>
                        </div>*@
                    </div>
                    <nav class="the-nav nav-collapse clearfix">
                        <ul class="nav nav-pill ml-3 mt-2 bg-transparent">
                            <li class="mt-5">
                                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-item nav-link navbar-brand ml-5">
                                    <img src="~/images/logo.png" class="menulogo" />
                                </a>
                                <a class="nav-item nav-link text-white fontsize14 ml-5 " asp-route="ServiceIndex">Услуги и цены</a>
                                <a class="nav-item nav-link text-white fontsize14 ml-5" asp-route="Order">Заказать домашний персонал</a>
                                <a class="nav-item nav-link text-white fontsize14 ml-5" asp-route="Applicants">Соискателям</a>
                                <a class="nav-item nav-link text-white fontsize14 ml-5" asp-route="About">Об агенстве</a>
                                <a class="nav-item nav-link text-white fontsize14 ml-5" asp-route="Contacts">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            <nav id="mainNav" class="navbar forbgtransparent navbar-expand-lg  body-content container-fluid bg-transparent forbigscreenshow">
                <div class="">

                    <div class="forfootermp mt_60 text-md-center">
                        <div class="navbar-brand d-inline-block ml-lg-4 logomr pr-lg-5 mt-lg-2 mb-lg-2">
                            <img src="~/images/logo.png" class="logo forbtnm forlogomtml ml15rem mt05rem" />
                        </div>
                        <p class="text-white forshowonbigscreen d-inline-block ml1_4 mr-5 headerlogo mt-2 mb-2">
                            <i class="fa fa-envelope"></i> info@amalco-agency.ru
                            <br /><a href="https://wa.me/79266100426" class="text-white">Напишите нам в WhatsApp</a>
                        </p>
                        <p class="text-white forshowonbigscreen d-inline-block ml1_4 mr-5 headerlogo mt-2 mb-2"><i class="fa fa-phone "></i>  <i class="fab fa-whatsapp pl-2"></i><i class="fab fa-viber pl-2"></i> <a class="phonenumber" href="tel:+74955457568" onclick="gtag('event', 'click', { 'event_category': 'form', 'event_label': 'PhoneNumber' })">+74955457568</a></p>
                      @*  <a asp-controller="Order" asp-action="Call" class="btn btn-red text-white forbuttonml mt_250  mb-2 modalform" onclick="ga('send', 'event', 'form', 'click','feedback');">Заказать звонок</a>
                       *@
                    </div>
                    <div class="pl-4">
                        <div class="forsmmlpl">
                            <div class="navbar-nav forsmmlpl mb-md-4 mb-mt-2">
                                <a class="text-white fontsize14 ml-lg-1 mr-lg-5 ml-md-2 mr-md-2 ml1rem" asp-route="ServiceIndex">Услуги и цены</a>
                                <a class="text-white fontsize14 ml-lg-5 mr-lg-5 ml-md-2 mr-md-2 mr-3" asp-route="Order">Заказать домашний персонал</a>
                                <a class="text-white fontsize14 ml-lg-5 mr-lg-5 ml-md-2 mr-md-2 mr-3" asp-route="Applicants">Соискателям</a>
                                <a class="text-white fontsize14 ml-lg-5 mr-lg-5 ml-md-2 mr-md-2 mr-3" asp-route="About">Об агенстве</a>
                                <a class="text-white fontsize14 ml-lg-5 mr-lg-5 ml-md-2 mr-md-2 mr-3" asp-route="Contacts">Контакты</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="row text-white width100">
                <div class="col-12 ml-2 text-center">
                    <div class="forfootermp forsmallscreenshow">
                        <div class="row">
                            <div class="col-12 w-100 text-center pl-0 pr-0 mt-3">
                                <p class="text-white">
                                    <i class="fa fa-envelope"></i> info@amalco-agency.ru
                                    <br /><a href="https://wa.me/79266100426" class="text-white">Напишите нам в WhatsApp</a>
                                </p>
                            </div>
                            <div class="col-12 w-100 text-center">
                                <p class="text-white"><i class="fa fa-phone "></i>  <i class="fab fa-whatsapp pl-2"></i><i class="fab fa-viber pl-2"></i> <a class="phonenumber" href="tel:+74955457568" onclick="gtag('event', 'click', { 'event_category': 'form', 'event_label': 'PhoneNumber' })">+74955457568</a></p>
                            </div>
                        </div>
                    </div>
                    <p class="fontsize25">Агентство по подбору домашнего персонала</p>
                    @*<p>Неорганиченное количество замен подобранного персонала</p>*@
                </div>
            </div>
            <div class="pt-5 pb-5 width100">
                <div class="offset-md-3 col-md-6 offset-1 col-10 esim">
                    <div class="row">
                        <h3 class="col-md-12 col-12 text-center pb-3 mt-3 text-white">Онлайн-заказ персонала</h3>
                        <div class="mb-3">
                            <div class="col-12">
                                <div class="fororderlefts">
                                    @await Html.PartialAsync("_Order")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" body-content container-fluid ">
        <div class="row mt-5 width100">
            <div class="offset-lg-2 col-lg-3 offset-md-1 col-md-4 offset-1">
                @await Component.InvokeAsync("_Menu")
            </div>
            <div class="col-lg-5 offset-lg-0 col-md-6  offset-1 col-11">
                <h3 class="text-center menuhead">Кадровое агентство</h3>
                <p class="text-justify fontsize14">Кадровое агентство по подбору домашнего персонала Амалко предоставляет широкий спектр услуг по подбору нянь и воспитателей, гувернанток и репетиторов, домработниц и горничных, поваров и садовников, семейных пар и управляющих в загородных домах. Более чем за 10 лет работы в сфере кадровых услуг, мы выработали довольно качественные и продуктивные принципы отбора персонала, благодаря чему наши клиенты всегда довольны сотрудничеством с нами и повторно обращаются в наше агентство.</p>

                <div class="ml1rembigscreen">
                    <div class="row mb-4">
                        <div class="ms">
                            <div class="sm1"></div>
                            <a href="/nyanya-filippinka">Няни из Филиппин</a>
                            Воспитанная и образованная, добрая и скромная, внимательная и осторожная
                            няня филиппинка идеальное решение для вашего ребенка.
                        </div>
                        <div class="ms">
                            <div class="sm2"></div>
                            <a href="/nyanya-grudnichku">Опытные няни</a>
                            Кадровое агентство Амалко поможет вам с выбором няни для грудничка и
                            няни-воспитателя с проживанием, на час или на выходные дни.
                        </div>
                        <div class="ms">
                            <div class="sm3"></div>
                            <a href="/domrabotnica">Квалифицированные домработницы</a>
                            Квалифицированная домработница от агентства Амалко наведет идеальный
                            порядок и создаст атмосферу уюта и комфорта в вашем доме.
                        </div>
                        <div class="ms">
                            <div class="sm4"></div>
                            <a href="/povar">Шеф-повар</a>
                            Опытный шеф-повар от кадрового агентства Амалко порадует всю вашу семью
                            изысканными блюдами из кухон со всего света каждый день.
                        </div>
                        <div class="ms">
                            <div class="sm5 dblocksm"></div>
                            <br />
                            <a href="/nyanya-vospitatel" class="dblocksm">Няни-воспитательницы</a>
                            <p class="dblocksm">
                                Кадровое агентство Амалко поможет Вам подобрать опытную и квалифицированную няню воспитательницу для вашего ребенка.
                            </p>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5 width100">
        <div class="col-12 col-md-12 mb-5 ">
            <h3 class="text-center blue-text ">Наши цены</h3>

        </div>

        @await Component.InvokeAsync("_ServiceList")


    </div>
    <div class="mainmiddle mt-5 width100">
        @await Html.PartialAsync("_Advantages")
    </div>


    @await Component.InvokeAsync("_ReviewList")
    <div class="pt-5 pb-5 width100">
        <div class="offset-md-3 col-md-6 offset-1 col-10">
            <div class="row">
                <h3 class="col-md-12 col-12 text-center pb-3 mt-3">Онлайн-заказ персонала</h3>
                <div class="mb-3">
                    <div class="col-12">
                        <div class="fororderlefts">
                            @await Html.PartialAsync("_Order")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-blue">
        <div class="container">
            <div class="row ">
                <div class="forfootermp pt-3">
                    <div class="navbar-brand pt-4 d-inline-blockb">
                        <img src="~/images/logo.png" class="footerlogo ml15rem" />
                    </div>
                    <a class="nav-item nav-link text-white fontsize14 ml-2 mr-2 footermenu" asp-route="ServiceIndex">Услуги и цены</a>
                    <a class="nav-item nav-link text-white fontsize14 ml-2 mr-2 footermenu" asp-route="Order">Заказать домашний персонал</a>
                    <a class="nav-item nav-link text-white fontsize14 ml-2 mr-2 footermenu" asp-route="Applicants">Соискателям</a>
                    <a class="nav-item nav-link text-white fontsize14 ml-2 mr-2 footermenu" asp-route="About">Об агенстве</a>
                    <a class="nav-item nav-link text-white fontsize14 ml-2 mr-2 footermenu" asp-route="Contacts">Контакты</a>
                </div>
            </div>
        </div>

        <div class="mr-lg-5 pr-lg-3 pt-3">
            <div class="container">
                <div class="row forfootermp">
                    <a class="nav-item nav-link text-white fontsize14 ml-3 ml-md-0 mr-3 mt-3 d-inline-block col-lg-3 col-md-11 col-11" href="#">Кадровое агентство Амалко - подбор домашнего персонала в Москве</a>
                    <a class="nav-item nav-link text-white fontsize14 ml-3 ml-md-0 mr-3 mt-3 d-inline-block col-lg-3 col-md-11 col-11" href="#">Россия, Московская область, Москва, Электрический переулок 3/10, строение 3, 3 подъезд  </a>
                    <div class="col-lg-3 col-md-11 col-11">
                        <div class="row">
                            <p class="text-white fontsize14 d-inline-block ml-3 ml-md-0 ml-lg-3 mt-3 logomr mb-0 col-lg-12 col-md-5 col-12"><i class="fa fa-phone "></i> <a class="phonenumber" href="tel:+74955457568" onclick="gtag('event', 'PhoneNumber', { 'event_category': 'form', 'event_action': 'click' }">+74955457568</a></p>
                            <p class="text-white fontsize14 d-inline-block ml-3 logomr col-lg-12 col-md-6 col-12 mt-3"><i class="fa fa-envelope"></i> info@amalco-agency.ru</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top">
            <div class="mlmr5 pl1rem mt-3">
                <div class="container">
                    <div class="row pl-lg-5 ml-lg-2" style="line-height:50px;">
                        <p class="col-lg-4 col-4 textCenter text-white fontsize14 d-inline-block ml-3">Copyright 2014-2018 / Амалко.</p>
                        <div class="col-3">
                            <iframe src="https://yandex.ru/sprav/widget/rating-badge/1374013839" width="150" height="50" frameborder="0"></iframe>
                        </div>
                       @* <p class="col-lg-3 offset-lg-0 col-5 textCenter text-white fontsize14 d-inline-block">
                            <a href="https://www.facebook.com/amalco.ru/" class="text-white"><i class="fab fa-facebook-f "></i></a>
                            <a class="pl-3 text-white" href="https://instagram.com/nanny_agency_amalco"><i class="fab fa-instagram"></i></a>
                        </p>*@
                    </div>
                </div>
            </div>
        </div>
    </footer>


   <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdn.usebootstrap.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <script src="~/js/jquery.maskedinput.js"></script>
    <script src="~/js/modalform.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/spin.min.js"></script>
    <script src="~/js/ladda.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/menu.js"></script>
    @await Html.PartialAsync("_Counters")
   
</body>
</html>
