<div class="esim">
    <div class="row pt-5 pb-5 width100 mr-0 ml-0">
        <h3 class="text-white text-center col-md-12">Наши преимущества</h3>
        <div class="offset-lg-2 col-lg-2 col-md-3 col-12 mb-2 mt-5">
            <div class="row">
                <div class="col-12 text-center mb-4">
                    <img src="~/images/Icons/001-thumbs-up.png" class="middleicons  text-center" />
                </div>
                <div class="middletext col-12 text-center">
                    <h5 class="text-white">10 лет на рынке домашнего персонала</h5>
                    <img src="~/images/Icons/line.png" class="mb-2 w-75" />
                    <p class="text-white fontsize14 fortextpaddings">10 лет в сфере кадровых услуг и более 6-и лет по отбору домашнего персонала из стран Азии</p>
                </div>

            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-12 mb-2 mt-5">
            <div class="row">
                <div class="col-12 text-center mb-4">
                    <img src="~/images/Icons/002-team.png" class="middleicons text-center fsm" />
                </div>
                <div class="middletext col-12 text-center">
                    <h5 class="text-white ">Персонал <br /> из <br />Филиппин</h5>
                    <img src="~/images/Icons/line.png" class="mb-2 w-75" />
                    <p class="text-white fontsize14 fortextpaddings">У всех наших нянь и домработниц из Филиппин есть рабочие визы, разрешение на работу и регистрация</p>
                </div>
            </div>

        </div>
        <div class="col-lg-2 col-md-3 col-12 mb-2 mt-5">
            <div class="row">
                <div class="col-12 text-center mb-4">
                    <img src="~/images/Icons/003-world.png" class="middleicons text-center fsm" />
                </div>
                <div class="middletext col-12 text-center">
                    <h5 class="text-white">Партнерские соглашения  в 5 странах</h5>
                    <img src="~/images/Icons/line.png" class="mb-2 w-75" />
                    <p class="text-white fontsize14 fortextpaddings">Агентство представлено в следующих странах: Россия, Украина, Израиль, Китай и Сингапур</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-12 mt-5">
            <div class="row">
                <div class="col-12 text-center mb-4">
                    <img src="~/images/Icons/004-interview.png" class="middleicons text-center fsm" />
                </div>
                <div class="middletext col-12 text-center">
                    <h5 class="text-white">Бесплатный  <br />выезд <br /> менеджера</h5>
                    <img src="~/images/Icons/line.png" class="mb-2 w-75 " />
                    <p class="text-white fontsize14 fortextpaddings">Для вашего комфорта наши менеджеры готовы выехать в любую точку Москвы и Московской области</p>
                </div>
            </div>
        </div>
    </div>

</div>